.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
}

.header h1 {
  font-size: 2rem;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header nav a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header nav a:hover {
  transform: scale(1.11);
}

.facebook {
  color: #3b579b;
}

.twitter {
  color: #1da0f1;
}

.instagram {
  color: #c536a4;
}
